*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(241, 233, 255);
}

header{
    padding-top: 30px;
    padding-left: 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 100px;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0px 0px 10px rgb(99, 99, 99);
    margin-bottom: 50px;
}

.comp{
    background-color: rgb(255, 255, 255);
    color: rgb(80, 25, 133);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

b{
    background-color: rgb(255, 255, 255);
}

.educ{
    background-color: rgb(255, 255, 255);
    color: rgb(80, 25, 133);
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    background-color: rgb(99, 63, 255);
}

main h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    padding-left: 20px;
    color: rgb(66, 66, 66);
}

.links{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 50px;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

form p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(41, 41, 41);
    margin-top: 10px;
}

form input{
    background-color: rgb(255, 255, 255);
    height: 30px;
    padding-left: 20px;
    width: 80%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px;
}

form button{
    background-color: blueviolet;
    width: 70%;
    height: 35px;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    border: 0px;
    color: rgb(240, 240, 240);
    border-radius: 15px;
    margin-top: 10px;
    box-shadow: 0px 0px 5px rgb(160, 160, 160);
}

.links button{
    background-color: rgb(253, 253, 253);
    width: 80%;
    height: 50px;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: blueviolet;
    border-radius: 5px;
    border-color: blueviolet;
    border-left-width: 5px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    margin-bottom: 7px;
    box-shadow: 0px 0px 15px rgb(167, 167, 167);
}